<!DOCTYPE html>
<div>
Assignment Name: <input id='name' class='span2' size='16' type='text'/>
</div>

<div>
<h5>Review Start Date:</h5><p class="input-append date" id="start-date" data-date="<%= Time.now.strftime('%m-%d-%Y') %>" data-date-format="mm-dd-yyyy">
<input id='start-date-value' class="span2" size="16" type="text" value="<%= Time.now.strftime('%m-%d-%Y') %>">
  <span class="add-on"><i class="icon-th"></i></span>
</p>
</div>



<h5>Review End Date:</h5> <p class="input-append date" id="end-date" data-date="<%= (Time.now + 1.week).strftime('%m-%d-%Y') %>" data-date-format="mm-dd-yyyy">
 <input class="span2" id='end-date-value' size="16" type="text" value="<%= (Time.now + 1.week).strftime('%m-%d-%Y') %>">
  <span class="add-on"><i class="icon-th"></i></span>
</p>



<div>
<h5>Instructions:</h5>
<textarea id='description' class='span2' size='16' rows='3'></textarea>
</div>


