<!DOCTYPE html>

<dl>
<% @reviews.each_with_index do |r, i| %>
<dt>
  <h3>Review #<%= i + 1 %>:
    <% if r.completed? %>
      Answers Saved
    <% else %>
      Not Started
    <% end %>
  </h3>
</dt>
<dd>
  <% unless @review_assignment.is_over %>
    <h4>This review assignment is over.<h4>
  <% else %>
    <a class='btn' href=<%= "/reviewassignment/#{@id}/#{i}/answer_form"%>>
      <% if r.completed? %>
        Click here to resume
      <% else %>
        Click here to start
      <% end %>
    </a>
  <% end %>
</dd>
<% end %>
</dl>

<% if @review_assignment.end_date < DateTime.now %>
	<a class='btn' href=<%= "/reviewassignment/view_feedback/#{@review_assignment.id}"%>>Click here to view the feedback</a>
<% end %>
