<!DOCTYPE html>

<dl>
<% for i in 0..@count-1 %>
<dt>
  <h3>Review #<%= i + 1 %>:</h3>
</dt>
<dd>
  <a class='btn' href=<%= "/reviewassignment/#{@id}/#{i}/answer_form"%>>Click here to start/resume</a>
</dd>
<% end %>
</dl>

<% if @review_assignment.end_date < DateTime.now %>
	<a class='btn' href=<%= "/reviewassignment/view_feedback/#{@review_assignment.id}"%>>Click here to view the feedback</a>
<% end %>
