<!DOCTYPE html>

<%= javascript_include_tag 'bootstrap-datepicker-1' %>

<span id="flash" style="display:none; padding:4px; background-color:#F70; color:#000"></span>

<h3>Pair students to review:&nbsp<%= @assignment.name %></h3>
