<!DOCTYPE html>

<h2>Reviewing Peers for <%= @review_assignment.name %></h2>


<% if @review_assignment.course.is_user_student(@current_user.id) %>

<%= render 'student_view' %>

<% else %>

<%= render 'faculty_view' %>

<% end %>
