<!DOCTYPE html>

<p><%= link_to "Home", root_url %> // Courses</p>

<h1>Courses</h1>

<strong>Note</strong>: The course below are color-coded based on your role in the course.</br>
<strong>Blue</strong> courses are ones in which you have some sort of authoritative control (as a faculty or teaching assistant).</br>

<%= render '/faculty/index/classes' %>  
