<!DOCTYPE html>


<div id = 'form1'>
<h1>Add Students</h1>
<p>Add the basic class information here</p></br>
<form class="form-search" id='add_students'>
 <h4><strong>Course Number:</strong></h4>
  <input type="text" class="input-medium search-query" placeholder="ex CSSE120" id='course_number'></br>
  <h4><strong>Course Name:</strong>  </h4>
  <input type="text" class="input-medium search-query" id='course_name'></br>
  <h4><strong>Course Section:</strong></h4> 
  <table cellpadding="0" cellspacing="0" border="0">
  <tr>
  <td rowspan="2"><input type="text" class="input-medium search-query" name="number" onKeyPress = "validate(event)"/></td>
<!--Arrows for HTML5 Deficient Browsers-->
  <td><input type="button" value=" /\ " onclick="this.form.number.value++;" style="font-size:12px;margin:0;padding:0;width:20px;height:18px;" ></td>
  </tr>
  <tr>
  <td><input type=button value=" \/ " onclick="(this.form.number.value > 0) ? this.form.number.value-- : this.form.number.value=0;" style="font-size:12px;margin:0;padding:0;width:20px;height:18px;" ></td>
  </tr>
  </table>

<!--  <input type="number" class="input-medium search-query" onKeyPress = "validate(event)" min = "0" step = "1" id='course_section'></br> -->
  <h4><strong>Course Term:</strong></h4>
  <input type="text" class="input-medium search-query" id='course_term'></br></br></br>
  <p class="btn" id='next1'>Next</p></br>
</form>
</p>
</div>

<div id='form2'>
<h1>Add Students</h1>
<p>Upload a .csv file with student emails here.
New student accounts will be created automatically if the student is not already registered. Format is First Name, Last Name, Email</p>

<input type="file" id="studentinput" />
</br>
<p class="btn" id='back1'>Back</p>
<p class="btn" id='next2'>Next</p></br>
</div>


<div id="form3">
<h1>Add TA's</h1>
<p>Input the emails of any TA's for the class, seperated by a comma.
New TA accounts will be created automatically if the student is not already registered</p>

<p> Coming Soon to a server near you! </p>

<input type="file" id="tainput" />
<p class="btn" id='back2'>Back</p>
<p class="btn" id='doneButton'>Finished</p></br>
</div>

<script type='text/javascript' runat='server'>
var students = ""
var tas = ""
var readStudentFile = function(evt) {
    var f = evt.target.files[0]; 
    students = ""
    if (f) {
      var r = new FileReader();
      r.onload = function(e) { 
	      var contents = e.target.result;
        students = contents;
      }
      r.readAsText(f);
    } else { 
      alert("Failed to load file");
    }
  };

var readTaFile = function(evt) {
    var f = evt.target.files[0]; 
    ta = ""
    if (f) {
      var r = new FileReader();
      r.onload = function(e) { 
	      var contents = e.target.result;
        ta = contents;
      }
      r.readAsText(f);
    } else { 
      alert("Failed to load file");
    }
  };


var addError = function(message) {
  $("#form1").append($("<div id='alert' class='alert alert-error fade in' data-alert>"+
           "<button type='button' class='close' data-dismiss='alert'>×</button><strong> " + message + " </strong></div>"));
          $('#alert').delay(1500).fadeOut('slow', function(){ $('#alert').remove() });
};
var next1Change = function(){
  
  var cName = $('#course_name').attr('value');
  var cTerm = $('#course_term').attr('value');
  var cNumber = $('#course_number').attr('value');
  var cSection = $('#course_section').attr('value');
  if(cSection == '' | cName == "" | cTerm == ""| cSection == ""){
    addError("All fields required")
    } 
  else{
  $("#form1").toggle('fast');
  $("#form2").toggle('fast');}
};
var next2Change = function(){
  
  $("#form2").toggle('fast');
  $("#form3").toggle('fast');
};

var addCourse = function(){
  var cName = $('#course_name').attr('value');
  var cTerm = $('#course_term').attr('value');
  var cNumber = $('#course_number').attr('value');
  var cSection = $('#course_section').attr('value');
  if(cSection == '' | cName == "" | cTerm == ""| cSection == ""){
    $("#form1").toggle();
    $("#form3").toggle();
    addError("All fields required");
  } else {
    $.post('/faculty/add_course',{
      'cname' : cName, 'cterm':cTerm, 'cnumber': cNumber, 'csection': cSection, 'students': students, 'tas':ta}
    ,function(course){
      if(course.error){
        $("#form1").toggle();
        $("#form3").toggle();
        addError(course.error);
        }
      else{
        window.location.href="/faculty/index";
      }
    });
   }
    
};

// Prevents user from inserting anything but nonnegative integers into the chosen field
var validate = function(evt) {
  var theEvent = evt || window.event;
  var key = theEvent.keyCode || theEvent.which;
  keyChar = String.fromCharCode(key);
  
  var regex = /[0-9\t]/;
  if (!(key == 8  ||  key == 27  || key == 46  || key == 37 || key == 39 ) ) // backspace delete  escape arrows
  {

    if( !regex.test(keyChar) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }
}

$(document).ready(function(){
  document.getElementById('studentinput').addEventListener('change', function(e){readStudentFile(e);}, false);
  document.getElementById('tainput').addEventListener('change', function(e){readTaFile(e);}, false);
  $("#form2").toggle();
  
  $("#form3").toggle();
  
  $("#next1").click(function() {
    next1Change();
  });
  $("#back1").click(function() {
    next1Change();
  });
  $("#next2").click(function() {
    next2Change();
  });
  $("#back2").click(function() {
    next2Change();
  });
  
  $("#doneButton").click(function() {
    addCourse();
  });
  

  
});


</script>
