<!DOCTYPE html>

<h3>Students</h3>
<% unless @students.empty? %>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Last online</th>
        <th>Classes</td>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.friendly_full_name %></td>
          <td><%= user.last_sign_in_at %></td>
          <td></td>  
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  There are no students registered at this time.
<% end %>




