<!DOCTYPE html>
<h1>Admin Home</h1>

<%= render '/admin/index/admin_list' %>

<%= render '/admin/index/faculty_list' %>

<%= render '/admin/index/ta_list' %>

<%= render '/admin/index/student_list' %>


