<h1><%= @assignment.name %></h1>


<h3>Description</h3>
<%= @assignmentDefinition.description %>


<h3>Start Date</h3>
<%= @assignment.start_date.to_date %>

<h3>End Date</h3>
<%= @assignment.end_date.to_date %>
