<!DOCTYPE html>

<p><strong>Sign in through one of these services:</strong></p>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "icons/twitter_32.png", :size => "32x32", :alt => "Twitter" %>Twitter</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "icons/facebook_32.png", :size => "32x32", :alt => "Facebook" %>Facebook</a>
<a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "icons/google_32.png", :size => "32x32", :alt => "Google" %>Google</a>
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "icons/openid_32.png", :size => "32x32", :alt => "OpenID" %>OpenID</a>
<div class="clear"></div>
