<!DOCTYPE html>
<div class="modal hide fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="loadingLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="loadingLabel">Loading...</h3>
  </div>
  <div class="modal-body">
    <img src='/assets/loading.gif'/>
  </div>
</div>


