<form class="form-search" id='search_users'>
  <h2>Search</h2>
  <strong>First name:</strong>
  <input type="text" class="input-small search-query" id='search_first_name'>
  <strong>Last name:</strong>
  <input type="text" class="input-medium search-query" id='search_last_name'><br/><br/>
  <strong>E-mail:</strong>  
  <input type="text" class="input-medium search-query" id='search_email'>
</form>
