<!DOCTYPE html>
<div class="modal hide fade" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby="viewUserLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="viewUserLabel">Viewing <tag id='viewUserName'></tag>'s Info</h2>
  </div>
  <div class="modal-body">
    <h3><u>Email</u>: <tag id='viewUserEmail'></tag></h3> </br>
    <h3><tag id='viewUserCourses'></tag></h3> </br>
  </div>
</div>
