<tr><td><%= file.name %></td>
<td><a class='btn' href='<%= '/assignment/download/' + file.id.to_s %>'>Download</a></td>
<td>
<% if (file.user_id == current_user.id) or @faculty or (file.uploaded_by == current_user.id) %>
<a class='btn btn-danger' href='/files/delete/<%= file.id %>'>Delete</a>
<% end %>
</td>
</tr>
